<div class="header bg-gradient-secondary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-black">Welcome!</h1>
          <p class="text-lead text-light"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5 text-center">
          Sign up with credentials
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4"></div>
          <form role="form" [formGroup]="form" (submit)="register()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Username"
                  type="username"
                  formControlName="username"
                />
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  type="password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Confirm Password"
                  type="password"
                  formControlName="confirmedPassword"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Account Address"
                  type="text"
                  formControlName="address"
                />
              </div>
            </div>
            <!--<div class="text-muted font-italic">
              <small
                >password strength:
                <span class="text-success font-weight-700">strong</span></small
              >
            </div> -->
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    class="custom-control-input"
                    id="customCheckRegister"
                    type="checkbox"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <input
                type="submit"
                value="Create Account"
                class="btn btn-primary my-4"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
